*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #06283D;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    position: relative;
    width: 400px;
    /* height: 620px; */
    background: linear-gradient(to bottom, #FFCC61, #f0f0f0);
    padding: 20px;
    overflow: hidden;
    border-radius: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: 0.8s ease-out;
    text-align: center;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.1);

}

label, p{
    color: #06283D;
    margin: 8px 0;
}

input {
    width: (100% - 16px);
    padding:  8px;
    box-sizing: border-box;
    border-radius: 10px;
    margin-top: 20px;
    font-size: 20px;
}

/*search button*/
button {
    background: #06283D;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 20px;
    width: 100px;
    font-size: 20px;
    transition: color 0.5s ease; 

    
}

button.fa-solid.fa-magnifying-glass:hover {
    background: #888;
    color: white;
}

#temp-div p{
    font-size: 60px;
    margin-top: -30px;
}

#weather-info p{
    font-size: 20px;

}

#weather-icon {
    max-width: 200px;
    height: 200px;
    margin: 0 auto 10px;
    margin-bottom: 0;
    display: none;
}

/* Hourly forecast */
#hourly-forecast {
    margin-top: 50px;
    overflow-x: auto;
    white-space: nowrap;
    display: flex;
    justify-content: space-between;
}

#hourly-forecast::-webkit-scrollbar-thumb {
    margin-top: 20px;
    margin-bottom: 30px;
    padding-bottom: 30px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}

#hourly-forecast:hover::-webkit-scrollbar {
    width: 10px; 
}
.hourly-item {
    flex: 0 0 auto;
    width: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10px;
    color: #06283D;
}

.hourly-item img{
    width: 30px;
    height: 30px;
    margin-bottom: 5px;
}

#hourly-heading{
    color: #fff;
    margin-top: 10px;
}



/* light and dark mode */
.dark-mode {
    background: linear-gradient(to bottom, #555, #111);
    /* color: #fff; */
    transition: background-color 0.5s ease, color 0.5s ease;
}

.container, .container.dark-mode {
    transition: background-color 0.5s ease, color 0.5s ease; 
}

.dark-mode .container {
    background-color: #222; 
}

.dark-mode .search-box input::placeholder, .dark-mode .hourly-item, 
.dark-mode #temp-div p, .dark-mode #weather-info p, .fa-solid.fa-location-dot, 
.dark-mode label p,
.dark-mode .search-box input{
    color: white; 
    background-color: linear-gradient(to bottom, #555, #111);
    transition: color 0.5s ease, background-color 0.5s ease;
}

.dark-mode .search-box input {
    color: black; 
    background: #555;
}



.dark-mode .search-box i{
    background-color: #222; 
    color: white; 
    transition: color 0.5s ease, background-color 0.5s ease;
}

.dark-mode #hourly-forecast::-webkit-scrollbar {
    width: 10px; 
}

.dark-mode #hourly-forecast::-webkit-scrollbar-track {
    background: #333; 
}

.dark-mode #hourly-forecast::-webkit-scrollbar-thumb {
    background-color: #666; 
    border-radius: 5px; 
}

.dark-mode #hourly-forecast::-webkit-scrollbar-thumb:hover {
    background-color: #888; 
}

/* Styling for the search button in dark mode */
.dark-mode button.fa-solid.fa-magnifying-glass {
    background: #fff; 
    color: #222;
    border: 1px solid #fff; 
}

.dark-mode button.fa-solid.fa-magnifying-glass:hover {
    background: #eee;
    color: #222;
}

/* toggle switch */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin: auto;
    border: 1px solid #ccc;
    border-radius: 17px;
    padding-top: 10px;
}
  
.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}
  
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 17px;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
  
input:checked + .slider {
    background-color: #222;
}
  
  input:focus + .slider {
    box-shadow: 0 0 1px #222;
}
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.mode-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px; 
    pointer-events: none; 
}
  
.dark-mode .weather-details span,
.dark-mode .weather-details p,
.dark-mode .weather-box .temperature,
.dark-mode .weather-box .description,
.dark-mode {
    color: white; 
}

.dark-mode .weather-details i {
    color: white; 
}


